#editContent {
  background-color: #ffffff;
  width: 500px;
  height: 100%;
  padding: 1em;
  border-radius: 5px;
}

#btnOk {
  background-color: #000080;
}

#btnCancel {
  background-color: #bbbbbb;
}
